/* nyaman.css v0.0.1 | License: GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html#license-text | Faris Han, Aug 2023 */

:root {
  --background-color: #f5f5f5;
  --color: #222222;
  --link-color: darkblue;
  --link-visited-color: #301934;
  --thin-background: rgba(200, 200, 200, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222222;
    --color: #ffffff;
    --link-color: skyblue;
    --link-visited-color: #CBC3E3;
    --thin-background: rgba(100, 100, 100, 0.5);
  }
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background-color);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 1rem;
  border-bottom: 1px solid var(--thin-background);
}

main {
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
}

blockquote {
  margin: 0;
  border-left: 2px solid;
  padding: 1rem;
  background-color: var(--thin-background);
}

p,
blockquote,
ol,
ul {
  line-height: 1.5;
}

figure {
  margin: 0;
  padding: 1rem;
  background-color: var(--thin-background);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

article h1 {
  margin-bottom: 3.5rem;
}

code {
  background-color: var(--thin-background);
}

footer {
  padding: 1rem;
  border-top: 1px solid var(--thin-background);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* components */
.tldr {
  padding: 1rem;
  background-color: var(--thin-background);
}

.last-updated-at {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: monospace;
  opacity: 0.5;
}
